.sidebar{
    background-color: rgba(0, 0, 0, 0.925);
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    width: 78px;
    display: grid;
    grid-template-columns: 78px;
    justify-items: center;
    margin: 0;
    z-index: 999;
    
}
.home-info , .shorts-info , .subscribe-info , .you-info , .downloads-info{
    color: white;
    background-color: rgba(46, 46, 46, 46);
    width: 57px;
    height: 25px;
    position: absolute;
    right: -15px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}
.sidebar-btn:hover .home-info , .sidebar-btn:hover .shorts-info , .sidebar-btn:hover .subscribe-info , .sidebar-btn:hover .you-info , .sidebar-btn:hover .downloads-info{
    opacity: 1;
}
.sidebar-btn{
   background-color: rgba(0, 0, 0, 0.925); 
   border: none;
   transition: 0.3s;
   width: 78px;
   height: 75px;
   border-radius: 10px;
   cursor: pointer;

}
.sidebar-btn:hover{
    background-color: rgba(41, 41, 41, 0.925); 

}
.sidebar-icon{
    fill: white;
    width: 23px !important;
    height: 23px !important;
    padding-right: 4px !important;
}
.sidebar-p{
    color: white;
    padding-right: 4px;
    font-size: 10px;
    margin-top: 2px;

}